<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <link rel="stylesheet" href="/css/style.css" />
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      />
      <link rel="stylesheet" href="/Ncss/bootstrap.css" />
      <title>ambitiousohns</title>
    </head>
</head>
<body>
    <!-- Before  -->
    <div class="overlay">
        
    </div>
     <!-- Header Section -->
     <section id="header">

        <div id="cart" >
            <a href="">Ambitiousohns</a>   
        </div>
       
        
      </div>
      <div class="menuContent">
        <ul id="navbar">
            

            <li><a href="/">Home</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">What we do</a></li>
            <li><a href="">Portfolio</a></li>
            <li><a href="">Contact</a></li>

        </ul>
        
    </div> 
      <div id="mobile" style="font-size: 30px;">
        <i id="bar" class="fa fa-bars" aria-hidden="true"></i>
    </div>
    </section>

        
    
       
     <!-- </section> -->
    
    <!-- Before  -->
    
    <!-- Middle -->

    <%- body %>

    <!-- Middle -->

    <!-- After  -->

    <footer>
      <div class="col">
        <h4>Contact</h4>
        <p>
          <strong>Address: </strong> St Fergus flat 2 mpalume, riverside Kitwe
        </p>
        <p><strong>Phone: </strong> +19191919191 , +11919191919</p>
        <p><strong>Email: </strong> odtm@gmail.com</p>
        <p><strong>Hours: </strong> 24/7</p>
       
      </div>

      <div class="col">
    
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact us</a>
        <a href="/admin">admin</a>

        <div class="follow">
            <h4>Follow us</h4>
            <div class="icons">
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-instagram"></i></a>
              <a href=""><i class="fa fa-whatsapp"></i></a>
            </div>
          </div>
      </div>

      
    </footer>

 
    <!-- After  -->
  </body>
  <script src="/Njs/bootstrap.js"></script>
  <script src="/js/script.js"></script>

  
</html>
