<section id="home" class="main-banner parallaxie" style="background: url('/uploads/IMG_1844.jpg')">
    <div class="heading">
        <h1>Welcome to ambitiousohns</h1>			
        <h3 class="cd-headline clip is-full-width">
            <!-- <p><span>our services include:  </span></p> -->
            <span class="cd-words-wrapper">
                <b class="is-visible">Web Development</b>
                <b>Software Development</b>
                <b>Mobile App Development</b>
                <b>Software Installation</b>
                <b>Software Repairs</b>
                <b>Software Consultation</b>
            </span>
            <div class="btn-ber">
                <a class="get_btn hvr-bounce-to-top" href="#">Get started</a>
                <a class="learn_btn hvr-bounce-to-top" href="#">Learn More</a>
            </div>
        </h3>
    </div>
</section>
 
            <!-- ________ABOUT SECTION______ -->
<div id="about" class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="message-box">                        
                    <h2>Welcome to ambitiousohns</h2>
                    <p> We are a dynamic and innovative company specializing in <strong>mobile development</strong>,
                         <strong>software development</strong>, <strong>web development</strong>, <strong>software installation</strong> and <strong>computer softaware repairs</strong>. 
                        With a passion for cutting-edge technologies and a dedication to delivering exceptional solutions, 
                        we have established ourselves as a trusted partner for businesses across diverse industries.
                    </p>
                    <p>At <strong><i>ambitiousohns</i></strong>, we understand the ever-evolving digital landscape and the significance of 
                        staying ahead of the curve. Our team of highly skilled professionals 
                        brings together expertise in mobile app development, 
                        creating powerful software solutions, and crafting engaging web experiences.
                 </p>

                    <a href="#" class="sim-btn hvr-bounce-to-top"><span>Contact Us</span></a>
                </div><!-- end messagebox -->
            </div><!-- end col -->

            <div class="col-md-6">
                <div class="right-box-pro wow fadeIn">
                    <img src="/uploads/ambitious.png" alt="" class="img-fluid img-rounded">
                </div><!-- end media -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

            <!-- ________SERVICES SECTION______ -->
<div id="services" class="section lb">
    <div class="container">
        <div class="section-title text-center services">
            <h3 id="services">Services</h3>
            <p>We are specilized at providing the following services</p>
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-4">
                <div class="services-inner-box">
                    <div class="ser-icon">
                        <i class="flaticon-seo"></i>
                    </div>
                    <h2>Web Development</h2>
                    <p>
                        Our web development services are tailored to meet the unique needs of businesses 
                        seeking a strong online presence and a seamless user experience. 
                        Leveraging the latest web technologies and industry best practices, 
                        we create visually stunning, highly functional, and user-friendly websites that leave a lasting impression.
                    </p>
                    <p id="moreContent">
                        <strong style="padding-top: 50px;">Responsive Web Design:</strong>
                        We understand the importance of a responsive design that adapts seamlessly to various devices and screen sizes.
                         Our team ensures that your website looks and functions flawlessly on desktops, tablets, and smartphones, 
                         providing an optimal user experience across all platforms. 
                        
                        <strong>Custom Web Application Development:</strong>
                        If you require a more complex web solution, our skilled developers can create custom web applications that cater 
                        specifically to your business requirements. From e-commerce platforms and content management systems to booking 
                        portals and more, we build robust and scalable applications that empower your online presence. 
                        
                        <strong>UI/UX Design:</strong>
                        User experience is at the forefront of our web development process. Our talented designers work closely with 
                        you to create intuitive and visually appealing interfaces that engage users and enhance their interaction with your website. We focus on creating seamless navigation, clear calls-to-action, and compelling visuals to maximize user engagement and conversions.
                        
                        <strong>Content Management Systems (CMS):</strong>
                        Efficiently managing your website's content is crucial for its success. We specialize in integrating user-friendly
                         Content Management Systems (CMS) that allow you to update and manage your website effortlessly. Whether you need a 
                         custom CMS or prefer popular platforms like WordPress or Drupal, we have the expertise to implement the right solution for you.
                        
                        <strong>E-commerce Solutions:</strong>
                        For businesses looking to sell products or services online, we provide comprehensive e-commerce solutions that drive 
                        conversions and boost revenue. From secure payment gateways and inventory management to personalized shopping 
                        experiences and sales analytics, we ensure a smooth and secure online shopping journey for your customers.
                        
                        <strong>Website Maintenance and Support:</strong>
                        We believe that a successful website requires ongoing care and support. Our team is dedicated to providing timely 
                        website maintenance, security updates, and technical support to keep your website running smoothly. We understand 
                        that your website is a valuable asset, and we ensure its optimal performance and security at all times.
                        
                    </p>
                    <p class="moreBtn"><span>more</span></p>
                </div>
            </div><!-- end col -->
            <div class="col-md-4">
                <div class="services-inner-box">
                    <div class="ser-icon">
                        <i class="flaticon-development"></i>
                    </div>
                    <h2>Software Development</h2>
                    <p>
                        Our software development services are designed to meet the unique needs of businesses seeking robust, scalable, and 
                        tailor-made software solutions. With our expertise in a wide range of technologies and programming languages, 
                        we create powerful software applications that streamline operations, enhance productivity, and drive business growth.
                     </p>
                     <p id="moreContent">
                       
                        <strong>Custom Software Development: </strong>
                        We specialize in developing custom software solutions that align perfectly with your business requirements.
                         Our team of experienced developers works closely with you to understand your workflows, challenges, and objectives, 
                         and then crafts a bespoke software solution that addresses your specific needs. Whether you need a standalone 
                         application or a comprehensive enterprise system, we have the expertise to deliver.

                        <strong>Enterprise Software Development: </strong>
                        For businesses looking to streamline their operations, improve collaboration, and optimize efficiency, we offer
                         enterprise software development services. We develop scalable and integrated software solutions that centralize data,
                          automate processes, and enhance communication across departments, empowering your organization to achieve its goals effectively.

                        <strong>Legacy System Modernization: </strong>
                        If you have a legacy system that is no longer meeting your business needs, we can help you modernize and upgrade it.
                         Our team specializes in migrating and transforming outdated software systems into modern, scalable, and cloud-compatible 
                         solutions, ensuring seamless integration with your existing infrastructure and minimizing disruption.

                        <strong>Software Integration and APIs:</strong>
                        We understand that seamless integration between different software systems is crucial for efficient business processes.
                         Our experts have extensive experience in integrating software applications, designing APIs, and developing middleware 
                         solutions to ensure smooth data flow and communication between disparate systems, maximizing productivity and reducing manual work.

                        <strong>Quality Assurance and Testing: </strong>
                        Delivering high-quality software is at the core of our development process. Our dedicated quality assurance team conducts
                         comprehensive testing to ensure that your software application meets the highest standards of performance, functionality,
                          and security. We perform various types of testing, including unit testing, integration testing, system testing, and user 
                          acceptance testing, to guarantee a reliable and bug-free software solution.

                        <strong>Software Maintenance and Support: </strong>
                        We provide ongoing software maintenance and support to ensure that your software application remains up-to-date, secure, 
                        and optimized for performance. Our team is readily available to address any issues, provide updates, and offer technical 
                        assistance whenever needed, allowing you to focus on your core business operations.

                        At <strong>ambitiousohns</strong>, we combine technical expertise with a deep understanding of business processes to deliver
                         exceptional software solutions that empower your organization. Whether you need a small-scale application or a complex enterprise
                          software system, our team is dedicated to delivering innovative and reliable software development services. Explore our portfolio 
                          to see examples of our software development projects, and let's discuss how we can help you achieve your business goals.

                     </p>
                     <p class="moreBtn"><span>more</span></p>
                </div>
            </div><!-- end col -->
            <div class="col-md-4">
                <div class="services-inner-box">
                    <div class="ser-icon">
                        <i class="flaticon-process"></i>
                    </div>
                    <h2>Mobile App Development</h2>
                    <p>
                        Our mobile app development services are designed to transform your ideas into innovative and engaging mobile applications 
                        that captivate your target audience. With a deep understanding of the latest mobile technologies and industry trends, 
                        we create user-friendly, feature-rich, and visually stunning apps for iOS and Android platforms.
                    </p>
                    <p id="moreContent">
                        <strong>Native App Development:</strong>
                        We specialize in native app development, leveraging the full potential of iOS and Android platforms to deliver high-performance
                         and seamless user experiences. Our team of experienced developers utilizes platform-specific languages such as Swift and Kotlin 
                         to ensure your app meets the highest standards of performance, security, and compatibility.

                      <strong>Cross-Platform App Development:</strong>
                        To maximize your app's reach and minimize development time and costs, we offer cross-platform app development solutions.
                         Using frameworks such as React Native and Flutter, we build apps that run smoothly on both iOS and Android platforms, 
                         maintaining a consistent look and feel while leveraging the unique features of each operating system.

                     <strong>UI/UX Design:</strong>
                        We understand the importance of creating visually appealing and intuitive interfaces for mobile applications. Our talented 
                        designers work closely with you to craft a user-centric design that enhances usability and delivers an exceptional user experience.
                         We focus on creating intuitive navigation, visually appealing layouts, and seamless interactions to keep users engaged and delighted.

                     <strong>Mobile App Backend Development:</strong>
                        Behind every great mobile app is a robust and scalable backend infrastructure. Our team has extensive experience in developing secure
                         and scalable backend systems that power your app's functionality. From API integration and database management to user authentication
                          and data storage, we ensure your app operates seamlessly and securely.

                     <strong>App Testing and Quality Assurance:</strong>
                        We believe in delivering top-quality mobile applications that meet the highest standards of performance and reliability.
                         Our dedicated quality assurance team rigorously tests your app across various devices, screen sizes, and operating systems to 
                         identify and rectify any bugs or issues. We perform thorough testing, including functional testing, performance testing, 
                         and usability testing, to ensure your app is ready for a flawless user experience.

                     <strong>App Store Deployment and Maintenance:</strong>
                        Launching your app successfully on the app stores requires careful planning and adherence to guidelines.
                         Our team guides you through the entire app store submission process, ensuring compliance and maximizing visibility.
                          We also provide ongoing app maintenance and support, including updates, bug fixes, and performance optimization, to
                           ensure your app remains up-to-date and continues to deliver value to your users.

                    </p>
                    <p class="moreBtn"><span>more</span></p>
                </div>
            </div><!-- end col -->
            <div class="col-md-4">
                <div class="services-inner-box">
                    <div class="ser-icon">
                        <i class="flaticon-discuss-issue"></i>
                    </div>
                    <h2>Software Installation</h2>
                    <p>
                        Our software installation services are designed to ensure smooth and hassle-free installation of software applications,
                         allowing you to leverage the full potential of your technology investments. Whether you need to install a single software
                          package or deploy applications across multiple systems, our experienced technicians are here to assist you.
                    </p>
                    <p id="moreContent">
                        
                         <strong>Consultation and Software Selection:</strong>
                        We begin by understanding your specific software requirements and goals. Our team provides consultation services to help
                         you choose the right software applications that align with your business needs. We analyze factors such as functionality, 
                         compatibility, and scalability to recommend the most suitable software solutions for your organization.
                        
                         <strong>Software Installation and Configuration:</strong>
                        Our skilled technicians handle the entire software installation process, ensuring a seamless setup on your systems. 
                        We follow industry best practices to install and configure software applications, including customizing settings, 
                        specifying preferences, and integrating with your existing software environment. Our team ensures that all software
                         components are correctly installed and ready for use.
                        
                        <strong>License Management and Activation: </strong>
                        Managing software licenses can be complex, but our experts simplify the process for you. We assist in managing your 
                        software licenses, ensuring compliance with licensing agreements and optimizing license usage. Our team handles 
                        license activation, registration, and renewal, allowing you to focus on utilizing the software without any legal
                         or compliance concerns.
                        
                        <strong>System Compatibility Testing: </strong>
                        Before deploying software applications across your systems, we conduct thorough compatibility testing. Our technicians
                         ensure that the software is compatible with your operating system, hardware, and other software applications. 
                         We verify system requirements, conduct necessary updates or upgrades, and address any compatibility issues to 
                         guarantee a smooth installation process.
                        
                        <strong>User Training and Support: </strong>
                        We understand the importance of ensuring that your team is comfortable and proficient in using the newly installed software.
                         Our experts provide user training sessions, guiding your staff on software functionality, features, and best practices.
                          We also offer ongoing technical support to address any questions, troubleshoot issues, and provide assistance whenever needed.
                        
                        <strong>Software Updates and Maintenance: </strong>
                        To keep your software applications secure and up-to-date, our team assists in managing software updates and patches.
                         We monitor software vendors for the latest releases and security patches, ensuring your applications are protected 
                         from vulnerabilities. We handle the installation of updates, ensuring compatibility and minimal disruption to your operations.
                        
                        At <strong>ambitiousohns</strong>, we take the stress out of software installation by providing professional services that
                         ensure a seamless and efficient process. Our experienced technicians are dedicated to delivering high-quality installations,
                          ensuring that your software applications are correctly set up, configured, and ready for use. Contact us to discuss your software
                           installation needs, and let us assist you in maximizing the value of your software investments.
                    </p>
                    <p class="moreBtn"><span>more</span></p>
                </div>
            </div><!-- end col -->
            <div class="col-md-4">
                <div class="services-inner-box">
                    <div class="ser-icon">
                        <i class="flaticon-idea"></i>
                    </div>
                    <h2>Computer Software Repairs</h2>
                    <p> 
                       Our computer software repair services are designed to resolve software-related issues and restore the functionality of your systems 
                       efficiently and effectively. Whether you're experiencing performance slowdowns, software crashes, or compatibility problems, 
                       our experienced technicians are here to help.
                    </p>
                    <p id="moreContent">
                        
                         <strong>Diagnosis and Troubleshooting:</strong>
                        We begin by thoroughly diagnosing the software issues you're facing. Our technicians have extensive expertise in identifying and troubleshooting a wide range of software problems. We analyze error messages, system logs, and conduct comprehensive assessments to pinpoint the root cause of the issue.

                        <strong>Software Updates and Patching: </strong>
                        Outdated software can often lead to vulnerabilities, bugs, and compatibility issues. Our experts ensure that your software is up-to-date by installing the latest updates, patches, and security fixes. This helps to improve stability, performance, and overall system security.

                        <strong>Virus and Malware Removal: </strong>
                        Viruses, malware, and other malicious software can wreak havoc on your computer's performance and compromise your data security. Our team employs advanced tools and techniques to detect and remove viruses, malware, adware, and spyware from your system. We also provide recommendations on effective antivirus software to prevent future infections.

                        <strong>Operating System Optimization: </strong>
                        If your operating system is running slow or encountering frequent errors, we optimize its performance. Our technicians analyze system settings, remove unnecessary software, clean up temporary files, and fine-tune system configurations to enhance overall speed and responsiveness.

                        <strong>Application Troubleshooting and Repair: </strong>
                        When specific applications crash, freeze, or exhibit unexpected behavior, our experts diagnose and resolve the issue. We analyze application logs, check for conflicts, repair corrupted files, and provide comprehensive troubleshooting to ensure smooth operation of your critical software applications.

                        <strong>Data Recovery and Backup Solutions: </strong>
                        In the unfortunate event of data loss due to software issues, we offer data recovery services to retrieve your valuable files. Our technicians utilize specialized tools and techniques to recover data from damaged or inaccessible storage devices. Additionally, we assist in setting up data backup solutions to safeguard your important files and prevent future data loss.

                        <strong>Remote Support and On-Site Assistance: </strong>
                        We provide convenient options for software repairs. Our remote support services allow us to troubleshoot and resolve software issues remotely, saving you time and minimizing downtime. For more complex issues or when remote support is not feasible, we offer on-site assistance, dispatching our technicians to your location to diagnose and repair the software problems.

                        At <strong>ambitiousohns</strong>, our goal is to get your computer software up and running smoothly as quickly as possible. With our expertise in software repairs and troubleshooting, we ensure that your systems operate optimally, minimizing disruptions to your workflow. Contact us to discuss your software repair needs, and let us assist you in resolving any software-related issues efficiently and effectively.
    
                    </p>
                    <p class="moreBtn"><span>more</span></p>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

            <!-- ________PORTFOLIO SECTION______ -->
<div id="portfolio" class="section lb">
    <div class="container">
        <div class="section-title text-center">
            <h3>Portfolio</h3>
            <p>Here below are some of the successful projects we have worked on:</p>
        </div><!-- end title -->
        
        <div class="gallery-menu row">
            <div class="col-md-12">
                <div class="button-group filter-button-group text-center">
                    <button class="active" data-filter="*">All</button>
                    <button data-filter=".gal_a">Web Development</button>
                    <button data-filter=".gal_b">Software Development</button>
                    <button data-filter=".gal_c">App Development</button>
                </div>
            </div>
        </div>
        
        <div class="gallery-list row">
            <div class="col-md-4 col-sm-6 gallery-grid gal_b gal_a">
                <div class="gallery-single fix">
                    <img src="/uploads/customImg.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <!-- <a href="/uploads/gallery_img-01.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a> -->
                        <a href="http://legendaryshields.com"  class="hoverbutton global-radius">legendaryshields.com</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 gallery-grid gal_a gal_b">
                <div class="gallery-single fix">
                    <img src="/uploads/iStude.jpeg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <!-- <a href="/uploads/gallery_img-02.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a> -->
                        <a href="http://istude.info" class="hoverbutton global-radius">istude.info</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 gallery-grid gal_a gal_c">
                <div class="gallery-single fix">
                    <img src="/uploads/altimasLogo.png" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <!-- <a href="/uploads/gallery_img-03.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a> -->
                        <a href="http://altimascreative.com" class="hoverbutton global-radius">altimascreative.com</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 gallery-grid gal_b gal_a">
                <div class="gallery-single fix">
                    <img src="/uploads/tayantPay.jpeg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <!-- <a href="/uploads/gallery_img-04.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a> -->
                        <a href="http://tayant-pay.onrender.com" class="hoverbutton global-radius">tayant-pay.onrender.com</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 gallery-grid gal_a gal_c">
                <div class="gallery-single fix">
                    <img src="/uploads/svintStores.png" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="http://svint-stores.onrender.com" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>
            
            <!-- <div class="col-md-4 col-sm-6 gallery-grid gal_c gal_b">
                <div class="gallery-single fix">
                    <img src="/uploads/gallery_img-06.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="/uploads/gallery_img-06.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div> -->
        </div>
        </div>
    </div>
</div>

            <!-- ________BLOG SECTION______ -->
<div id="blog" class="section lb">
    <div class="container">
        <div class="section-title text-center">
            <h3>Blog</h3>
            <p>Welcome to our blog - a virtual space where tech enthusiasts and curious minds converge to 
                explore the exciting world of computer tech services. As experts in the field, we are 
                thrilled to share our knowledge, experiences, and insights to keep you informed and inspired. 
                From tech tips and tricks to the latest industry trends, we've got you covered!</p>
        </div><!-- end title -->
        
        <div class="row">
            <div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-thumb">
                        <img src="/uploads/serviceComputer.jpg" class="img-fluid" alt="post-img" />
                        <div class="date">
                            <span>21</span>
                            <span>Aug</span>
                        </div>
                    </div>
                    <div class="post-info">
                        <h4>The Top 5 Must-Have Computer Tech Services for Every Business</h4>
                        <ul>
                            <li>by admin</li>
                            <li>Apr 21, 2023</li>
                            <li><a href="#"><b> Comments</b></a></li>
                        </ul>
                        <p>
                            In this article, we delve into the essential tech services that can propel businesses to success. 
                            From robust cybersecurity measures to efficient network solutions, we explore how embracing the 
                            right tech services can lead to increased productivity and seamless operations.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-thumb">
                        <img src="/uploads/troubleShooting.jpg" class="img-fluid" alt="post-img" />
                        <div class="date">
                            <span>16</span>
                            <span>Mar</span>
                        </div>
                    </div>
                    <div class="post-info">
                        <h4>Tech Support 101: Troubleshooting Common Computer Issues</h4>
                        <ul>
                            <li>by admin</li>
                            <li>Mar 16, 2023</li>
                            <li><a href="#"><b> Comments</b></a></li>
                        </ul>
                        <p>
                            Have you ever encountered frustrating computer problems? Our tech support specialists reveal their secret troubleshooting techniques
                             for common issues, helping you become your own tech guru.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-thumb">
                        <img src="/uploads/IMG_1844.jpg" class="img-fluid" alt="post-img" />
                        <div class="date">
                            <span>23</span>
                            <span>Apr</span>
                        </div>
                    </div>
                    <div class="post-info">
                        <h4>The Future of AI in Computer Tech Services</h4>
                        <ul>
                            <li>by admin</li>
                            <li>Apr 23, 2023</li>
                            <li><a href="#"><b> Comments</b></a></li>
                        </ul>
                        <p>
                            Artificial Intelligence (AI) is reshaping the tech industry, and computer tech services are no exception.
                             We explore how AI is revolutionizing the way we provide solutions and the exciting prospects it holds for
                              the future.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

            <!-- ________TEAM SECTION______ -->
<div id="team" class="section wb">
    <div class="container">
        <div class="section-title text-center">
            <h3>Our Team</h3>
            <p>Meet Our Elite Computer Tech Services Team - Your Tech Wizards!</p>
        </div><!-- end title -->
    
        <div class="row">

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="/uploads/IMG_1839.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Frank Lembalemba</h3>
                        <span class="post">Web Developer</span>
                        <ul class="social">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-skype"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="/uploads/IMG_1840.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Charles Chisale</h3>
                        <span class="post">Web Developer</span>
                        <ul class="social">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-skype"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

            <!-- ________PRICING SECTION______ -->
<div id="pricing" class="section lb">
    <div class="container">
        <div class="section-title text-center">
            <h3>Website dev Pricing </h3>
            <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.</p>
        </div><!-- end title -->
        
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <svg x="0" y="0" viewBox="0 0 360 220">
                        <g>
                            <path fill="#28a9e2" d="M0.732,193.75c0,0,29.706,28.572,43.736-4.512c12.976-30.599,37.005-27.589,44.983-7.061
                                c8.09,20.815,22.83,41.034,48.324,27.781c21.875-11.372,46.499,4.066,49.155,5.591c6.242,3.586,28.729,7.626,38.246-14.243
                                s27.202-37.185,46.917-8.488c19.715,28.693,38.687,13.116,46.502,4.832c7.817-8.282,27.386-15.906,41.405,6.294V0H0.48
                                L0.732,193.75z"></path>
                        </g>
                        <text transform="matrix(1 0 0 1 69.7256 116.2686)" fill="#fff" font-size="78.4489">$10</text>
                        <text transform="matrix(0.9566 0 0 1 197.3096 83.9121)" fill="#fff" font-size="29.0829">.99</text>
                        <text transform="matrix(1 0 0 1 233.9629 115.5303)" fill="#fff" font-size="15.4128">/Month</text>
                    </svg>
                    <div class="pricing-content">
                        <h3 class="title">Standard</h3>
                        <ul class="pricing-content">
                            <li><b>50GB</b> Disk Space</li>
                            <li><b>50</b> Email Accounts</li>
                            <li><b>50GB</b> Bandwidth</li>
                            <li><b>10</b> Subdomains</li>
                            <li><b>15</b> Domains</li>
                        </ul>
                        <a href="#" class="sim-btn hvr-bounce-to-top pricingTable-signup">Buy Now</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="pricingTable blue">
                    <svg x="0" y="0" viewBox="0 0 360 220">
                        <g>
                            <path fill="#28a9e2" d="M0.732,193.75c0,0,29.706,28.572,43.736-4.512c12.976-30.599,37.005-27.589,44.983-7.061
                                c8.09,20.815,22.83,41.034,48.324,27.781c21.875-11.372,46.499,4.066,49.155,5.591c6.242,3.586,28.729,7.626,38.246-14.243
                                s27.202-37.185,46.917-8.488c19.715,28.693,38.687,13.116,46.502,4.832c7.817-8.282,27.386-15.906,41.405,6.294V0H0.48
                                L0.732,193.75z"></path>
                        </g>
                        <text transform="matrix(1 0 0 1 69.7256 116.2686)" fill="#fff" font-size="78.4489">$20</text>
                        <text transform="matrix(0.9566 0 0 1 197.3096 83.9121)" fill="#fff" font-size="29.0829">.99</text>
                        <text transform="matrix(1 0 0 1 233.9629 115.5303)" fill="#fff" font-size="15.4128">/Month</text>
                    </svg>
                    <div class="pricing-content">
                        <h3 class="title">Business</h3>
                        <ul class="pricing-content">
                            <li><b>60GB</b> Disk Space</li>
                            <li><b>60</b> Email Accounts</li>
                            <li><b>60GB</b> Bandwidth</li>
                            <li><b>15</b> Subdomains</li>
                            <li><b>20</b> Domains</li>
                        </ul>
                        <a href="#" class="sim-btn hvr-bounce-to-top pricingTable-signup">Buy Now</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="pricingTable red">
                    <svg x="0" y="0" viewBox="0 0 360 220">
                        <g>
                            <path fill="#28a9e2" d="M0.732,193.75c0,0,29.706,28.572,43.736-4.512c12.976-30.599,37.005-27.589,44.983-7.061
                                c8.09,20.815,22.83,41.034,48.324,27.781c21.875-11.372,46.499,4.066,49.155,5.591c6.242,3.586,28.729,7.626,38.246-14.243
                                s27.202-37.185,46.917-8.488c19.715,28.693,38.687,13.116,46.502,4.832c7.817-8.282,27.386-15.906,41.405,6.294V0H0.48
                                L0.732,193.75z"></path>
                        </g>
                        <text transform="matrix(1 0 0 1 69.7256 116.2686)" fill="#fff" font-size="78.4489">$30</text>
                        <text transform="matrix(0.9566 0 0 1 197.3096 83.9121)" fill="#fff" font-size="29.0829">.99</text>
                        <text transform="matrix(1 0 0 1 233.9629 115.5303)" fill="#fff" font-size="15.4128">/Month</text>
                    </svg>
                    <div class="pricing-content">
                        <h3 class="title">Premium</h3>
                        <ul class="pricing-content">
                            <li><b>70GB</b> Disk Space</li>
                            <li><b>70</b> Email Accounts</li>
                            <li><b>70GB</b> Bandwidth</li>
                            <li><b>20</b> Subdomains</li>
                            <li><b>25</b> Domains</li>
                        </ul>
                        <a href="#" class="sim-btn hvr-bounce-to-top pricingTable-signup">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

            <!-- ________CONTACT SECTION______ -->
<div id="contact" class="section db">
    <div class="container">
        <div class="section-title text-center">
            <h3>Contact</h3>
            <p>Contact us in order to receive a quotation</p>
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-12">
                <div class="contact_form">
                    <div id="message"></div>
                    <form action="/" method="POST"  novalidate="novalidate">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" id="name" type="text" name="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="email" name="email"  type="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="phone" name="phone" type="tel" placeholder="Your Phone" required="required" data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" name="message" id="message" placeholder="Your Message" required="required" data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button id="sendMessageButton" class="sim-btn hvr-bounce-to-top" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <a href="#"><img src="images/odtmLogo.png" alt="ambitiousohns" /></a>
            <div class="footer-center">
                <p class="footer-links">
                    <a href="#">Home</a>
                    <a href="#">Blog</a>
                    <a href="#">Pricing</a>
                    <a href="#">About</a>
                    <a href="#">Faq</a>
                    <a href="#">Contact</a>
                </p>
                <p class="footer-company-name">All Rights Reserved. &copy; 2023 </p>
            </div>
        </div>
    </div><!-- end container -->
</div><!-- end copyrights -->

<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>


<script>
    const moreBtn = document.querySelectorAll(".moreBtn span");
    const moreContent = document.querySelectorAll("#moreContent");
    const sectionServices = document.querySelector("#services");

    moreBtn.forEach( (item, index)=>{
       
     item.addEventListener("click", (e)=>{

          moreContent.forEach(content =>{
              content.classList.remove("active");
          })

            if(e.target.innerText == "more"){

               moreBtn.forEach(data =>{
                    data.innerText = "more";
               })

                e.target.innerText = "less";
                moreContent[index].classList.add("active");

            }else if(e.target.innerText == "less"){
                e.target.innerText = "more";
                moreContent[index].classList.remove("active");
                sectionServices.scrollIntoView({ behavior: "smooth" })
            }

         })
    })
</script>